#/etc/systemd/system/undelete-feed.service
[Unit]
Description=Undelete-feed
After=multi-user.target
StartLimitInterval=0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /src/removeddit-api/site/undelete_feed.py
WorkingDirectory=/src/removeddit-api/site
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target